{% macro m_prevNext(prev,next) %}
<nav class="m_prevNext">

  {% if prev %}
  <div class="m_prevNext__item m_prevNext__item--prev">
    <p class="m_prevNext__label">&larr; Previous article</p>
    <a class="m_prevNext__link" href="{{prev.url}}">{{prev.title}}</a>
  </div>
  {% endif %}

  {% if next %}
  <div class="m_prevNext__item m_prevNext__item--next">
    <p class="m_prevNext__label">Next article &rarr;</p>
    <a class="m_prevNext__link" href="{{next.url}}">{{next.title}}</a>
  </div>
  {% endif %}

</nav>
{% endmacro %}
