{% extends "layouts/default.html" %}


{% block content %}

{% set pageModifier -%}{% if page.modifier and page.modifier != '' %}prose-{{page.modifier}}{% else %}prose{% endif %}{%- endset %}
{% set textModifier %}{% if page.modifier and page.modifier != '' %}bg-{{page.modifier}}{% else %}bg-light{% endif %}{% endset %}
{{ c_page([
    m_pageTitle(page.title,date=page.date,humanDate=page.humanDate,modifier=textModifier),
    c_grid([
      m_prose(contents,textModifier)
    ],'prose')
  ],pageModifier)
}}
{{ c_aside([
  c_grid([
    m_cloud(page.tags,'Tagged:')
  ],'prose')
])}}
{% endblock %}
