{% extends "layouts/default.html" %}
{% block content %}

{% macro call__m_teaser() %}
  {% set style = cycler("style-a","style-b", "style-c","style-d") %}
  {% for post in page.posts %}
      {{ m_teaser(title=post.title,url='/articles/'+post.id,date=post.date,day=post.humanDateDay,month=post.humanDateMonth,year=post.humanDateYear,intro=post.intro,cover=post.cover,modifier=style.next()) }}
  {% endfor %}
{% endmacro %}

{{
  c_page([
    m_pageTitle(page.title | title),
    c_grid([
      call__m_teaser()
    ],'double')
  ])
}}
{% endblock %}
