{% macro m_pagination(pagination,type='articles',current) %}
<nav class="m_pagination" role="navigation" aria-labelledby="pagination-for-{{type}}">
    <h3 class="m_pagination__intro" id="pagination-for-{{type}}">Pagination for {{type | capitalize }}:</h3>
    <ul class="m_pagination__items">
        {% for item in pagination -%}
        <li class="m_pagination__item">
            <a href="/{{type}}/{{item.url}}" class="m_pagination__link{% if current == loop.index0 %} m_pagination__link--current{% endif %}"><span class="m_pagination__linkLabel">Page</span> <span class="m_pagination__linkNumber">{{ loop.index }}</span></a>
        </li>
        {%- endfor %}
    </ul>
</nav>
{% endmacro %}
