{% from "patterns/modules/m_figure/m_figure.html" import m_figure %}
{% from "patterns/modules/m_pageTitle/m_pageTitle.html" import m_pageTitle %}
{% from "patterns/modules/m_prose/m_prose.html" import m_prose %}
{% from "patterns/modules/m_teaser/m_teaser.html" import m_teaser %}
{% from "patterns/modules/m_pagination/m_pagination.html" import m_pagination %}
{% from "patterns/modules/m_icon/m_icon.html" import m_icon %}
{% from "patterns/modules/m_navigation/m_navigation.html" import m_navigation %}
{% from "patterns/modules/m_siteHeader/m_siteHeader.html" import m_siteHeader %}
{% from "patterns/modules/m_introduction/m_introduction.html" import m_introduction %}
{% from "patterns/modules/m_prevNext/m_prevNext.html" import m_prevNext %}
{% from "patterns/modules/m_tag/m_tag.html" import m_tag %}
{% from "patterns/modules/m_cloud/m_cloud.html" import m_cloud %}
{% from "patterns/modules/m_menuControl/m_menuControl.html" import m_menuControl %}
{% from "patterns/modules/m_fairground/m_fairground.html" import m_fairground %}
{% from "patterns/modules/m_pointer/m_pointer.html" import m_pointer %}
{% from "patterns/modules/m_switcher/m_switcher.html" import m_switcher %}
{% from "patterns/modules/m_collection/m_collection.html" import m_collection %}

{% from "patterns/containers/c_page/c_page.html" import c_page %}
{% from "patterns/containers/c_header/c_header.html" import c_header %}
{% from "patterns/containers/c_fullscreen/c_fullscreen.html" import c_fullscreen %}
{% from "patterns/containers/c_grid/c_grid.html" import c_grid %}
{% from "patterns/containers/c_aside/c_aside.html" import c_aside %}
{% from "patterns/containers/c_inventory/c_inventory.html" import c_inventory %}
{% from "patterns/containers/c_footer/c_footer.html" import c_footer %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{page.title}}, {{site.name}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles.dark.css" type="text/css" media="all"/>
    </head>
    <body class="page-type-{{page.type}} no-js">
    <script src="/loadearly.js"></script>

      {{
        c_header([
          m_siteHeader(),
          m_navigation(site.menu,'main'),
          m_menuControl(state='closed',target='#main-menu')
        ])
      }}

      {% block content %}
      {% endblock %}

      {{
        c_footer([
          m_navigation(site.footer,'inline-bleached')
        ])
      }}


      {{
        c_fullscreen([
          c_header([
            m_siteHeader(),
            m_menuControl(state='open',target='#main-menu')
          ]),
          c_page([
            m_navigation(site.menu,'chunky')
          ])
        ],id='main-menu')
      }}

        <script src="/loadlater.js"></script>
    </body>
</html>
